<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.dzikirpagipetang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DzikirActivity" />
        <activity
            android:name=".dzikirpagiActivity"
            android:label="@string/pagi"
            android:parentActivityName=".DzikirActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".dzikirpetangActivity"
            android:label="@string/petang"
            android:parentActivityName=".DzikirActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".rekomendasiayatActivity" />
        <activity android:name=".ayatkursiActivity" />
        <activity android:name=".bacaandzikirpagiActivity" />
        <activity android:name=".alarmActivity" />
        <activity android:name=".aboutActivity" />

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />

        <activity android:name=".DetailayatActivity" />
        <activity android:name=".AlikhlasActivity" />
        <activity android:name=".AlfalaqActivity" />
        <activity android:name=".AnnaasActivity" />
        <activity android:name=".bacaandzikirsiangActivity" />
        <activity android:name=".broadcastActivity" />
        <activity android:name=".AlarmdzikirpagiActivity" />
        <activity android:name=".AlarmdzikirpetangActivity"></activity>
    </application>

</manifest>